<% if obj.errors.any? %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">
        <%= pluralize(obj.errors.count, "error") %>
        prohibited this article from being saved
        </h2>
      <div class="card-text">
          <ul>
            <% obj.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
