$navbar-bg-color: blue;

@import "bootstrap";

.navbar {
   background-color: black;
}
.navbar-nav > li > a {
   color: blue;
}
#logo {
  float:left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}
.center {
  text-align: center;
}
.jumbotron {
  background-image: asset-url("white-leaf.jpg");
  height: 550px;
}
.jumbotron h1 {
  color: #fff;
  text-align :center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}
.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}
.article-meta-details {
  border-top: 1px solid #bbb;
  margin-top: 15px;
}
.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
.description {
  margin-top: 0;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  float: left;
  list-style: none;
}
footer ul li {
  float:left;
  margin-left: 15px;
}
.card {
  background-color: #FF8F8F;
}
.card-article {
  background-color: #eaeaea;
  margin-bottom: 20px;
}
.article-title {
  font-weight: bold;
  font-size: 1.5em;
}
.article-body {
  border-top: 1px solid #333;
  padding-top: 15px;
  padding-bottom: 15px;
}
.card-body-user {
  background-color: lightgrey;
}
.listing {
  list-style:none;
  padding-left: 0;
}
